@import "_base.scss";


.banner {
    margin-top: 50px;
    width: 750rem / $px-rem;
    height: 363rem / $px-rem;
    background-color: $cis;

    a {
        display: block;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

//Demo styles
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

.swiper-pagination-bullet-active {
    background: $cis !important;
}


.nav {
    width: 750rem / $px-rem;
    height: 395rem / $px-rem;
    background-color: white;

    .flex {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        background-color: white;

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 187.5rem / $px-rem;
            height: 175rem / $px-rem;

            img {
                width: 90rem / $px-rem;
                height: 90rem / $px-rem;
                margin: 35rem / $px-rem 0 15rem / $px-rem 0;
            }

            span {
                font-size: 20rem /$px-rem;
                color: $gray;
            }
        }
    }
}


.simple-banner {
    display: flex;
    width: 750rem / $px-rem;
    height: 225.5rem / $px-rem;
    background-color: white;

    img {
        height: 225.5rem / $px-rem;
    }
}


.home-content {
    margin-top: 12px;

    .home-hd {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 750rem / $px-rem;
        height: 85rem / $px-rem;
        padding: 10px;
        background-color: white;
        color: $cis;

        span {
            font-weight: 700;
            font-size: 16px;
        }

        a {
            font-size: 12px;
            color: $gray;

            &::after {
                content: '\e901';
                font-family: 'icomoon';
            }
        }
    }

    .home-bd {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .home-item {
            margin: 3rem / $px-rem;
            width: 369rem / $px-rem;
            background-color: white;

            .home-img {
                width: 369rem / $px-rem;
                height: 369rem / $px-rem;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .title {
                width: 369rem / $px-rem;
                padding: 8px;

                .ellipsis {
                    margin: 0 0 8px;
                    font-size: 16px;
                    color: #505050;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    white-space: normal;
                }

                div {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .price {
                        font-size: 20px;
                        font-weight: 700;
                        color: $cis;
                    }

                    .num {
                        font-size: 14px;
                        color: $light-gray;
                    }
                }
            }
        }
    }

    .more {
        margin-top: 30px;
        width: 70%;
        height: 45px;
        border: 1px solid $cis;
        border-radius: 10px;
        text-align: center;
        line-height: 45px;
        font-size: 16px;
        color: $cis;
        background-color: white;
    }
}


@media screen and (max-width: 300px) {
    .num {
        display: none;
    }
}

@media screen and (max-width: 420px) {
    .home-hd {
        span {
            font-size: 14px !important;
        }
    }

    .nav {
        height: 430rem / $px-rem;
    }

    .num {
        font-size: 12px !important;
    }
}